<div class="container">
    <div class="row">
        <div class="col-12">
        <h3 class="text-center">Shopping List</h3>
        </div>
    </div>
    <hr/>
    <div class="row List" *ngFor="let ITEM of Lists">
        <div class="col-4"> {{ITEM.dateOfCreation}}</div>
        <div class="col-4"> {{ITEM.marketplaceName}}</div>
        <div class="col-4"> R$ {{ITEM.totalValue}}</div>
    </div>
</div>

<!-- Modal para incluir nova lista -->
<!-- Button trigger modal -->
<button type="button" id="button-new-list" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="fa-solid fa-plus fa-2x"></i>
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Insert New List</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
              <label for="txtDate" class="form-label">Date</label>
              <input type="date" class="form-control" id="txtDate" [(ngModel)]="newList.dateOfCreation">
            </div>
            <div class="mb-4">
              <label for="txtPlace" class="form-label">Place</label>
              <input type="text" class="form-control" id="txtPlace" [(ngModel)]="newList.marketplaceName">
            </div>
            <div class="mb-2">
              <label for="txtTotalValue" class="form-label">Total Value</label>
              <input type="number" class="form-control" id="txtTotalValue" [(ngModel)]="newList.totalValue">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="registerList()" >Save</button>
        </div>
      </div>
    </div>
  </div>