<div class="container">
    <div class="row">
        <div class="col-12">
        <h3 class="text-center">Shopping List</h3>
        </div>
    </div>
    <hr/>
    <div class="row list" *ngFor="let ITEM of ListOfItem">
        <div class="col-4"> {{ITEM.dataOfCreation}}</div>
        <div class="col-8"> {{ITEM.marketplaceName}} R$ {{ITEM.totalValue}}</div>
    </div>
</div>

<!-- Modal para incluir nova lista -->
<!-- Button trigger modal -->
<button type="button" id="button-new-list" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="fa-solid fa-plus fa-2x"></i>
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>